@model Ev.Models.VirtualClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VirtualClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameVirtualClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameVirtualClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VirtualClassID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
