@model IEnumerable<Ev.Models.Training>

@{
    ViewBag.Title = "Trainings";
}

<h2>Trainings</h2>

<p>
    @Html.ActionLink("Create New Training", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameTraining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStartOfTraining)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameTraining)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStartOfTraining)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainingID })
        </td>
    </tr>
}

</table>
